.box
{
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    width: fit-content;
    margin: auto;
    padding: 48px 40px 36px 36px;
    background-color: #ffffff;
}
div
{
     display: block;
}
img
{
    display: block;
    margin: auto;
}
.txt
{
    padding: 0px 0px 0px 0px;
    text-align: left;
}
input
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #373737;
}
.fp-text
{
    font-size: 15px;
    padding-top: 15px;
    text-align: left
}
